---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs/status
  verbs:
  - get
- apiGroups:
  - opentofu.soyplane.io
  resources:
  - tofuexecutions
  - tofumodules
  - tofustacks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opentofu.soyplane.io
  resources:
  - tofuexecutions/finalizers
  - tofumodules/finalizers
  - tofustacks/finalizers
  verbs:
  - update
- apiGroups:
  - opentofu.soyplane.io
  resources:
  - tofuexecutions/status
  - tofumodules/status
  - tofustacks/status
  verbs:
  - get
  - patch
  - update
