apiVersion: opentofu.soyplane.io/v1alpha1
kind: TofuModule
metadata:
  labels:
    app.kubernetes.io/name: soyplane
    app.kubernetes.io/managed-by: kustomize
  name: null-module
spec:
  source: https://github.com/soyplane-io/sample-tofu-modules.git
  workdir: null-module
  executionTemplate:
    metadata:
      labels:
        soyplane.io/purpose: prototype
    spec:
      action: plan
      moduleRef:
        name: null-module
        namespace: default
